{% extends "header.html" %}
{% block title %} Post sahifasi {% endblock %}
{% block index %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                {% if messages %}
                {% for m in messages %}
                <div class="alert-alert-{{ m.tags }}">
                    <h2>{{ m }}</h2>

                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    <div class="col-md-8 offset-2 mt-5 card">
        {% if messages %}
        {% for m in messages %}
        <div class="text-center mt-4 mb-4">
            <div class="alert alert-danger">
                {{m}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <div class="text-center">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="">Oldingi Parol </label>
                        <input type="password" name="old_password" required class="form-control">
                    </div> 
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="">Yangi parol</label>
                        <input type="password" name="password1" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Yangi parol takroran</label>
                        <input type="password" name="password2" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Parolni almashtirish" class="btn btn-info" >
                    </div>  
                </form>
            </div>
        </div>
        <div class="text-center">
            <h3>Ro`yhatdan o`tmagansiz <a href="{% url 'user:signup' %}">Ro`yhatdan o`tish</a></h3>
        </div>
    </div>
</div>
</div>


















{% endblock %}